.chat
  .chat-side
    .chat-user.clearfix
      %h5
        =current_user.name
      .chat-user__actions
        = link_to new_group_path, class: 'chat-user__action' do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path, class: 'chat-user__action' do
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        - current_user.groups.each do |group|
          = link_to group_messages_path, class: 'chat-group__link' do
            %p.chat-group__name
            =group.name
            %p.chat-group__message
              面白い
  .chat-main
    .chat-header.clearfix
      .chat-header__left
        %h2
        =@group.name
        %p.chat-header__users
          Members:
          %span.chat-header__user
          = @group.name
      .chat-header__right
        = link_to "Edit", edit_group_path(id: current_user.id), class: "chat-header__edit-btn"
    .chat-body
      %ul.chat-messages
        - @messages.each do |message|
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message__name
                =message.user.name
              %p.chat-message__time
                =message.created_at.strftime("%Y-%m-%d %H:%M:%S")
            %p.chat-message__body
              =message.body
            - if message.image?
              = image_tag message.image.url, class: ".chat-message__image"
    .chat-footer
      = form_for [@group, @message] do |f|
        .chat-footer__body
          = f.text_area :body
          = f.label :image, class: 'chat-footer__file' do
            %i.fa.fa-image
          = f.file_field :image, style: "display: none;"
          = f.hidden_field :image_cache
        = f.submit "Send", id: 'submit'
